.cross-sells{
	display: none !important;
}
ul, li {
	list-style-type:none;
}
a {
	&:hover {
		text-decoration:none;
	} 
}
.logo_camket {
	display:flex;
	clear:left;
	.logo_camket_p {
		background: #ffdd00 url('../images/bgPattern.png');
		max-width: 1000px;
		margin:auto;
		width: 100%;
		margin-bottom: 30px;
		display: table;
		// padding: 15px;
		.txt_target span {
			background: url(../images/img1.png) left center no-repeat;
			color: #171717;
			display:flex;
			// font-size: 18px;
			padding:28px 10px 28px 130px;
			font-size: 18px;
			// font-weight: 600;
			text-align: center;
		}
		.div_section {
			margin-top: 28px;
			span{
	            font-size: 20px;
	            color: #fff;
	            padding: 10px;
	            background: #3b3b3b;
	            display:block;
	            box-shadow: 7px 7px 0px 0px rgba(50, 50, 50, 0.16);
	            -webkit-transition: all .3s;
	            -moz-transition: all .3s;
	            -ms-transition: all .3s;
	            -o-transition: all .3s;
	            text-align: center;

			}
		}
	}
}
footer {
	margin-top:0;
	background:#3b3b3b;
	float:left;
	width:100%;
	.footer {
		margin:auto;

		.footer-menu {
			float: left;
			color:#e7e7e7;

			h3 {
				text-transform: uppercase;
				margin-bottom: 15px;
				margin-top:15px;
				color:#fff17d;
				b {
					font-weight: 500;
					font-size: 18px;
				}
			}
			a {
				color:#e7e7e7;
			}
			.hdht {
                ul {
                	li {
                		.textwidget {
                			font-style: italic;
                			ul {
                				li {
                					font-style:normal;
                				}
                			}
                		}
                	}
                }
			}
			ul {
				li {
					line-height: 29px;
					font-size: 13px;

					.textwidget {
						font-size: 13px;
					}
					.textwidget {
						&:first-child{
							// font-style: italic;
						}
					}
					a {
						font-size: 13px;
					}
					a:hover{
						color: #ff3000;
					}
				}
			}
			.PKSM {
				margin-bottom: 35px;
				div {
					line-height: 25px;
				}
				li {
					float: left;
					margin-right:15px;
					width:100%;
					a {
						color: #e7e7e7;
					}
				}
				.textwidget {
					font-size: 13px;
				}
			}
		}
		.copyright-ifixit {
			clear:left;
			line-height: 25px;
			padding-top:15px;
			// .copyright-fifxit-p {
			//    line-height: 29px;
			// }
		}
		#under-footer {
			border-top: 1px solid #8c8c8c;
			padding-top: 15px;
			margin-top: 15px;
			clear:left;
			position:relative;
			p {
				position: absolute;
				right:0;
				top: -40px;
			}
		}
	}
}
#header_site .header_site .header_site_content #search{
    margin-top: 2%;
}
